n8n-sandbox/workflows/ETL.json
{
  "name": "ETL",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1XqXbJraZyoCyeECESXA6sDUUO7ba7ttZ",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        0
      ],
      "id": "187e4d53-e4c4-4932-8edb-1aa3c5c5a93a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KfUxtRsF8chuTQN8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1XqXbJraZyoCyeECESXA6sDUUO7ba7ttZ",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        240
      ],
      "id": "856b8398-79a5-4953-b84e-6889d51a5aea",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KfUxtRsF8chuTQN8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca0e4001-e136-4930-9f45-ce0f6a82f5a3",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a085dc9d-8033-4e38-bd4a-b00d229b2f20",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        140
      ],
      "id": "dc9464ec-ec3d-4275-8168-6eb0be04f078",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        700,
        140
      ],
      "id": "81fda61a-2fb1-4a7d-b669-48fb40235f85",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KfUxtRsF8chuTQN8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "421e4352-8156-463b-a5fc-cf307acd0087"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "096d8fd0-bc0b-4b83-b643-a234b97ac654",
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        940,
        140
      ],
      "id": "8eb4e526-71db-48c7-bc21-84461f446c55",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        -120
      ],
      "id": "f502c520-3890-4c3a-9d1f-882003e7ea2d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        60
      ],
      "id": "22d0d58d-62b2-452b-9232-ca4713eff5d2",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "mevy_chatbot_knowledge",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1720,
        -120
      ],
      "id": "3af7273a-f5ea-4a52-a24a-a735e5bc43dc",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "IXI1E3FQtY27BjHl",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        100
      ],
      "id": "f60eb36d-0915-4858-86d6-7d3e61451eb1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "0WdBVL9N6i2ZEW56",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1860,
        100
      ],
      "id": "4bd4396e-5562-4204-be3b-202e8ea93a56",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1960,
        320
      ],
      "id": "2f5fac55-c6fe-4a11-9d24-feefb7bb2e88",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Drive Data Source",
        "height": 660,
        "width": 2420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -180
      ],
      "id": "78511655-ddc3-486d-b0b2-035a3d0e4470",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        -520
      ],
      "id": "bcf2eef7-9771-4b59-9eb8-24891c41926d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://legifrance_service:8000/code",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.codes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -620
      ],
      "id": "1f92eb18-c4c3-4988-8bda-69a4eb357f9e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"codes\": [\n        \"Code civil\",\n        \"Code de la construction et de l'habitation\",\n        \"Code de la consommation\",\n        \"Code des assurances\",\n        \"Code de commerce\",\n        \"Code des communes\",\n        \"Code de la consommation\",\n        \"Code de déontologie des architectes\",\n        \"Code de l'énergie\",\n        \"Code de l'environnement\",\n        \"Code de l'expropriation pour cause d'utilité publique\",\n        \"Code de la famille et de l'aide sociale\",\n        \"Code forestier (nouveau)\",\n        \"Code général des impôts\",\n        \"Code général des impôts, annexe I\",\n        \"Code général des impôts, annexe II\",\n        \"Code général des impôts, annexe III\",\n        \"Code général des impôts, annexe IV\",\n        \"Code des impositions sur les biens et services\",\n        \"Code des juridictions financières\",\n        \"Code de justice administrative\",\n        \"Livre des procédures fiscales\",\n        \"Code monétaire et financier\",\n        \"Code du patrimoine\",\n        \"Code de procédure civile\",\n        \"Code de procédure pénale\",\n        \"Code de l'urbanisme\",\n        \"Code de la sécurité sociale\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        -620
      ],
      "id": "7d3750b2-b55c-492e-9c8c-5c9497fcb715",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "codes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        -620
      ],
      "id": "db83d6dd-7aaa-4bcd-af86-7fd2be980d33",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        860,
        -620
      ],
      "id": "86f8be90-bfc7-4c36-a8f9-235b07973f6e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "mevy_chatbot_knowledge",
          "mode": "id"
        },
        "options": {
          "collectionConfig": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1340,
        -960
      ],
      "id": "e891c155-731c-4e77-8af2-0b1cc4a93bc8",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "IXI1E3FQtY27BjHl",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        -660
      ],
      "id": "4c23ad18-6db1-4078-a3f4-d4e1e1c839a9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0WdBVL9N6i2ZEW56",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "{{ $json.code }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1620,
        -560
      ],
      "id": "a369577c-b534-4f00-9a00-7bda57c098c2",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1640,
        -380
      ],
      "id": "cce9fd4c-8020-40d9-82c5-75e6deb3e311",
      "name": "Token Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        940,
        -1020
      ],
      "id": "53773423-1d0d-499d-9557-193c42de180c",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c52dbbf-05e8-45ae-a8d0-c0b9ba09870a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d4c2a67139cff11684e1a9390cf71fd8c932f80dd47f076f9f0a1692282c479"
  },
  "id": "XVegloa3d92D9Apr",
  "tags": [
    {
      "createdAt": "2025-03-06T06:52:53.708Z",
      "updatedAt": "2025-03-16T11:17:45.962Z",
      "id": "yTyG1bAsBwJLQwwi",
      "name": "etl"
    }
  ]
}